/* Estilos Gerais */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1F2739;
    color: #A7A1AE;
    margin: 0;
    padding: 0;
}

/* Estilo do Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Empilha os elementos verticalmente */
    padding: 2em;
    width: 90%;
    margin: 0 auto;
}

/* Estilo do Container de Busca */
.search-container {
    width: 100%;
    /* Ocupa toda a largura disponível */
    margin-bottom: 20px;
    /* Espaçamento abaixo do container */
}

/* Estilo do Formulário */
.form-style-4 {
    background: #495C70;
    padding: 30px;
    border: 5px solid #53687E;
    border-radius: 8px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombra para profundidade */
}

/* Estilo dos Labels */
.form-style-4 label {
    display: block;
    margin-bottom: 10px;
    /* Espaço entre label e input */
    font-size: 16px;
    color: #fff;
}

/* Estilo dos Inputs */
.form-style-4 input[type="text"],
.form-style-4 input[type="number"],
.form-style-4 input[type="date"],
.form-style-4 select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #83A4C5;
    /* Mudança para uma borda sólida */
    padding: 8px;
    color: #fff;
    font-size: 14px;
    outline: none;
    /* Remove contorno padrão */
    margin-bottom: 15px;
    /* Espaçamento abaixo de cada input */
}

/* Estilo do Botão de Transação */
.transaction-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    /* Azul para o botão */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    /* Espaçamento acima do botão */
    transition: background-color 0.3s;
    /* Transição suave */
}

/* Efeito Hover nos Botões */
.transaction-button:hover {
    background-color: #0056b3;
    /* Tom mais escuro ao passar o mouse */
}

/* Media Queries para Responsividade */
@media (max-width: 800px) {
    .container {
        padding: 1em;
        /* Menos espaço em telas menores */
    }

    .form-style-4 {
        width: 100%;
        /* O formulário ocupa toda a largura em telas pequenas */
    }
}

/* Estilos para os botões de navegação */
.navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #0056b3;
    opacity: 0.9;
}